<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Submit Game</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous"></script>
    <style>
        .ui-helper-hidden-accessible {
            display: none;
        }

        .ui-widget-content {
            border: solid;
            width: 200px;
            background-color: white;
        }

    </style>
</head>

<body>
    <div class="container">
        <div class="row mt-2"><h2 class="text-center">Stock Exchange</h2></div>
        <div class="row mt-2">
            <div class="col">What stock exchange you work with?</div>
            <div class="col">
                <select class="form-select" id="stockExchange">
                    <option value="NASDAQ">Nasdaq</option>
                    <option value="MISX">Moscow Stock Exchange</option>
                    <option value="BINANCE">Binance crypto exchange</option>
                </select>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">Do you have existing investment portfolio?</div>
            <div class="col">
                <select class="form-select" id="isExistPortfolio">
                    <option value=true>Yes</option>
                    <option selected value=false>No</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="container mt-2" id="stock-codes" style="display: none;">
                <div class="row">
                    <div class="col">Stock code</div><div class="col">Amount</div>
                </div>
                <div class="row mb-2" id="addStockCodeRow">
                    <div class="col-4">
                        <button type="button" class="btn btn-secondary" onclick="addStockCodeRow()">Add</button>
                    </div>
                </div>
                <div class="row mb-4 stock-row">
                    <div class="col-5">
                        <input class="form-control stock-code" type="text">
                    </div>
                    <div class="col-5">
                        <input class="form-control stock-amount" type="number">
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-danger" onclick="delStockCodeRow(this)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">What is your investment horizon?</div>
            <div class="col">
                <select class="form-select" id="investmentHorizon">
                    <option value="1">less than 1 month</option>
                    <option value="2">less than 1 month</option>
                    <option value="3">3-6 months</option>
                    <option value="4">less than 1 year</option>
                    <option value="5">up to 3 year</option>
                </select>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">What percentage are you accepted to lose in the worst case scenario?</div>
            <div class="col">
                <input class="form-control" type="number" name="" id="percentLose">
                <p class="text-danger errorPercentLose" style="display:none;">Error! enter only number 1 => 100</p>

            </div>
        </div>
        <div class="row mt-2">
            <div class="col">Save your answer in DB, enter a name: </div>
            <div class="col">
                <input class="form-control" type="text" name="" id="namePortfolio" required>
                <p class="text-danger errorNamePortfolio" style="display:none;">Error! Field is emply</p>
            </div>

        </div>
        <div class="row mt-2">
            <p class="response-txt text-center"></p>
        </div>
        <div class="row mt-2">
            <button type="button" class="btn btn-primary" id="submit-btn" type="submit"
                onclick="submitData()">Submit</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>
    
    <script>
        var url = "{{ data.url }}submit";
        var stockCodes = JSON.parse("{{ data.stock_codes }}".replaceAll("&#39;", '"'));
        var stockExchange = document.querySelector('#stockExchange');
        var isExistPortfolio = document.querySelector('#isExistPortfolio');
        var investmentHorizon = document.querySelector('#investmentHorizon');
        var percentLose = document.querySelector('#percentLose');
        var namePortfolio = document.querySelector('#namePortfolio');
        var errorPercentLose = document.querySelector(".errorPercentLose")
        var errorNamePortfolio = document.querySelector(".errorNamePortfolio")
        var stockCodesEl = document.querySelector('#stock-codes');

        function getStockCodes(stock) {
            const codes = [];
            for (let code of stockCodes) {
                if (code.startsWith(stock)) {
                    codes.push(code);
                }
            };
            return codes;
        };

        function hideElement(el) {
            el.setAttribute("style", "display:none;");
        };

        function showElement(el) {
            el.setAttribute("style", "display:block;");
        };

        function addListenerForStockCode() {
            const suggestCodes = getStockCodes(stockExchange.value);
            $(".stock-row .stock-code").autocomplete({
                source: suggestCodes
            });
        };

        stockExchange.addEventListener("change", (event) => {
            addListenerForStockCode();
        });

        isExistPortfolio.addEventListener("change", (event) => {
            if (isExistPortfolio.value == "true") {
                showElement(stockCodesEl);
                addListenerForStockCode();
            } else {
                hideElement(stockCodesEl);
            };
        });

        function delStockCodeRow(el) {
            $(el).parents(".stock-row").remove();
        };

        function addStockCodeRow() {
            $("#addStockCodeRow").after(
                `<div class="row mb-2 stock-row">
                    <div class="col-5">
                        <input class="form-control stock-code" type="text">
                    </div>
                    <div class="col-5">
                        <input class="form-control stock-amount" type="number">
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-danger" onclick="delStockCodeRow(this)">Delete</button>
                    </div>
                </div>`
            );
            addListenerForStockCode();
        };
        
        function submitData() {
            $(".response-txt").text("");
            hideElement(errorPercentLose);
            hideElement(errorNamePortfolio);
            try {
                var percentInt = parseInt(percentLose.value);
                if (isNaN(percentInt) || percentInt > 100 || percentInt < 0) {
                    showElement(errorPercentLose);
                    return
                };
            } catch (er) {
                showElement(errorPercentLose);
                return
            }

            if (!namePortfolio.value) {
                showElement(errorNamePortfolio);
                return
            }

            const stocks = $(
                "#stock-codes[style!='display: none;'] .stock-row .stock-code"
            ).map((i, el) => el.value).toArray()
            const result = {
                "exchange": stockExchange.value,
                "has_existing_portfolio": isExistPortfolio.value,
                "investment_horizon": parseInt(investmentHorizon.value),
                "accepted_lose": percentInt,
                "stocks": $(
                    "#stock-codes[style!='display: none;'] .stock-row .stock-code"
                ).map((i, el) => el.value).toArray(),
                "stock_amounts": $(
                    "#stock-codes[style!='display: none;'] .stock-row .stock-amount"
                ).map((i, el) => el.value).toArray(),
                "name": namePortfolio.value,
            }
            console.log(result);
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(result)
            })
            .then(async res => {
                const data = await res.json();
                $(".response-txt").text(data.message);
                if (!data.result) {
                    $(".response-txt").css("color", "red");
                } else {
                    $(".response-txt").css("color", "green");
                };
            })
            .catch((error) => {
                console.error('Error:', error);
            })
        }
    </script>
</body>

</html>